body{
    background-color: #212529;
}
.container {  
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-rows: 0.5fr 8fr 0.5fr;
    gap: 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "menu menu"
      "main aside"
      "footer footer";
    font-family: 'Chakra Petch', sans-serif;
}
@media screen and (max-width: 850px){
	.container {
		display: grid;
		grid-template-columns: 6fr 2fr;
		grid-template-rows: 0.1fr 2fr 1fr 0.1fr;
		gap: 5px;
        grid-auto-flow: row;
        grid-template-areas: "menu menu"
				 "main main"
				 "aside aside"
				 "footer footer";}
}
@media screen and (max-width: 768px){
	.container {
		display: grid;
		grid-template-columns: 6fr 2fr;
		grid-template-rows: 0.1fr 2fr 0.5fr 0.1fr;
		gap: 5px;
        grid-auto-flow: row;
        grid-template-areas: "menu menu"
				 "main main"
				 "aside aside"
				 "footer footer";}
}

.container2 {  
    display: grid;
    grid-template-columns: 8fr;
    grid-template-rows: 0.5fr 10fr 0.5fr;
    gap: 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "menu"
      "main"
      "footer";
    font-family: 'Chakra Petch', sans-serif;
}
@media screen and (max-width: 768px){
	.container2 {
		display: grid;
		grid-template-columns: 8fr;
		grid-template-rows: 0.1fr 4fr 0.35fr;
		gap: 5px;
        grid-auto-flow: row;
        grid-template-areas: "menu"
				 "main"
				 "footer";
        font-size: 15px;}
                 
}
  
.menu { 
    grid-area: menu; 
    background-color: blue;
    color: antiquewhite;
} 
.header { 
    grid-area: header; 
    background-color: blueviolet;
} 
.main { 
    grid-area: main; 
    color: antiquewhite;
} 
.aside { 
    grid-area: aside; 
    padding: 10px;
    color: antiquewhite;
}
.footer { 
    grid-area: footer; 
    margin-bottom: 5px;
    padding: 5px;
    background-color: antiquewhite;
    color: #212529;
}
.card{
    color: #212529;
}
.contenidoN{
    padding: 10px;
    font-size: 25px;
}
.ancho{
    padding: 20px;
    height: 80%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    object-position: center;
}
@media screen and (max-width: 850px){
	.ancho {
        width: 90%;
        height: 95%;
		}         
}
.bordes{
    border: gray 3px solid;
    padding: 20px;
    margin: 10px;
}
